# Ignore collected static files, but not app static files
/staticfiles/  # Ignore the output of collectstatic
/static/  # Ignore global static folder (collected)

# Django project
/media/
*.sqlite3

# Python-related
__pycache__/
*.pyc
.DS_Store
*.swp
/env/
/tmp/

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage reports
htmlcov/
coverage
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Testing and temporary files
.tox/
.nox/
/.pytest_cache/
pytestdebug.log
test-results/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Node and npm
node_modules/
npm-debug.log

# Vagrant
/.vagrant/
Vagrantfile.local

# Others
*.log
*.pid
*.pid.lock
*.env
.env.*
