.service-icons-hl {
    display: inline-grid !important;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.service-icons-hl img {
    width: calc(100% - 10px);
    height: auto;
}

span.service-icons-hl svg,
g,
circle,
path {
    fill: currentColor !important;
}

span.service-icons-hl svg {
    width: calc(100% - 40px);
    margin: 20px;
}

.blog_item_img img {
    width: 100%;
}

span.user-avatar {
    width: 50px;
    height: 50px;
    display: grid;
    background: #ccc;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    color: #606568;
}