{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% comment %} {% if page.hero_block %}
        {{page.hero_block}}
    {% endif %} {% endcomment %}
    <style>
        .donation-section {
            padding: 50px 0;
        }
        .donation-section .message-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .donation-section .image-column {
            text-align: center;
        }
        .donation-section .image-column img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
        .donation-section h2 {
            font-size: 4rem; /* Large font size for the heading */
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 20px;
        }
        .donation-section p.lead {
            font-size: 1.5rem; /* Large font size for the message */
            line-height: 1.5;
            margin-bottom: 30px;
        }
        .donation-section .action-buttons a {
            margin: 10px;
        }
        /* Responsive styles */
        @media (max-width: 768px) {
            .donation-section h2 {
                font-size: 2.5rem;
            }
            .donation-section p.lead {
                font-size: 1.25rem;
            }
        }
        @media (max-width: 576px) {
            .donation-section h2 {
                font-size: 2rem;
            }
            .donation-section p.lead {
                font-size: 1.1rem;
            }
        }
    </style>
    <section class="contact-section">
        <div class="container donation-section">
            <div class="row">
                <!-- Message Column -->
                <div class="col-md-6 message-column">
                    <h2 class="font-weight-bold">{{page.donate_page_title}}</h2>
                    <p class="">
                        {{page.donate_message}}
                    </p>
                    <div class="action-buttons">
                        <a href="{{page.donate_link}}" class="btn btn-primary btn-lg">Continue to Donate</a>
                        <a href="{{page.contact_us_page.url}}" class="btn btn-secondary btn-lg">Contact Us</a>
                    </div>
                </div>
                <!-- Image Column -->
                <div class="col-md-6 image-column">
                    {% if page.patternship_image %}
                        {% image page.patternship_image original as image %}
                        <img src="{{image.url}}" alt="{{image.title}}">
                    {% endif %}
                    
                    
                </div>
            </div>
        </div>
    </section>
{% endblock content %}