name: Deploy to Dokku

on:
  push:
    branches:
      - main  # Replace with the branch you want to trigger deployment from (e.g., main or master)

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.DOKKU_KEY }}

      - name: Deploy to Dokku
        run: |
          ssh -o StrictHostKeyChecking=no root@${{ secrets.DOKKU_HOST }} apps:exists ${{ secrets.DOKKU_APP }} || ssh root@${{ secrets.DOKKU_HOST }} apps:create ${{ secrets.DOKKU_APP }}
          git remote add dokku root@${{ secrets.DOKKU_HOST }}:${{ secrets.DOKKU_APP }} || true
          git push dokku HEAD:master -f
